# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
*.db
*.ipch
.vs/test/v17/.suo
*.sarif
*.xml
*.tlog
*.log
*.ilk
*.recipe
*.pdb
*.txt
*.idb
*.user
*.filters
*.vcxproj
*.sln
*.opendb
*.db-shm
*.db-wal
